a:hover {
    color: #1371b7 !important;
}
.dugme {
    margin-top: -10%;
    left: 32%;
    z-index: 999;
}
.dugme2 {
    position: absolute;
    top: 65%;
    /* margin: 0 auto; */
    left: 35%;
    z-index: 999;
}
.pretraga {
	display: inline-block;
	vertical-align: top;
}
.wrapper.animsition {
	z-index: 0;
}
.form-control {
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    color: #606060;
    border-color: #ebeef6;
    box-shadow: none;
}
.razmak {
	margin-right: -20px;
}
.ivice {
	border-radius: 5px;
}
.btn {
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    color: #606060;
    border-color: #ebeef6;
    box-shadow: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: left;
}
:active, :focus {
    outline: none !important;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 80%;
}
.btn-group, .btn-group-vertical {
    width: 100%;
}
.btn-base-md {
    padding: 10px 25px;
}
.btn-dark-bg {
    background: #271a6b;
    border: #271a6b;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    border-color: #ebeef6;
    box-shadow: none;
    background-image: none;
    border: 1px solid #2764a1; 
    border-radius: 4px;
}
.btn-light-bg {
    background: #271a6b;
    border: #271a6b;
    height: 35px;
    font-size: 13px;
    font-weight: 300;
    border-color: #ebeef6;
    box-shadow: none;
    background-image: none;
    border: 1px solid #2764a1; 
    border-radius: 4px;
}
.btn-light-bg .btn-base-element-md {
    background: #55acee;
    padding: 13px 13px;
}
.btn-light-bg:hover, .btn-light-bg:focus, .btn-light-bg.focus {
    background: #2c1d78;
}

.mar-top-10 {
    margin-top: 10px;
}

.btn-dark-bg .btn-base-element-md {
	background: #2c1d78;
    padding: 13px 13px;
}
.btn-dark-bg:hover, .btn-dark-bg:focus, .btn-dark-bg.focus {
	background: #2c1d78;
}
::selection {
    color: #fff;
    background: #2764a1;
    text-shadow: none;
}
.header-center-aligned-transparent .navbar-nav .nav-item-child.active {
    color: #55acee;
}
.header-center-aligned-transparent .navbar-nav .nav-item-child.active:hover {
    color: #2764a1 !important;;
}
.header-center-aligned-transparent .navbar-nav .nav-item-child:hover {
    color: #2764a1;
}

.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child {
    background: #281a70;
    color: #fff;
}
.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child:hover {
    color: #fff;
}
.heading-v1 .heading-v1-title {
    font-style: normal;
}
.heading-v1 .heading-v1-text {
    font-style: normal;
}
.bg-color-base {
    background-color: #2764a1 !important;
}
.pricing-list-v3 .pricing-list-v3-title {
    font-size: 30px;
    color: #fff;
}
.breadcrumbs-v5 {
    position: relative;
    z-index: 1;
    background-color: #2764a1 !important;
    padding: 125px 0 100px;
}

.breadcrumbs-v5 .breadcrumbs-v5-title {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.breadcrumbs-v6 {
    position: relative;
    z-index: 1;
    background-color: #2764a1 !important;
    padding: 125px 0 25px;
}

.breadcrumbs-v6 .breadcrumbs-v6-title {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.breadcrumbs-v4 {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: #fff;
    padding: 30px 0 65px;
    z-index: 0;
}
.right {
    text-align: right;
}


.breadcrumbs-info {
    position: relative;
    z-index: 1;
    text-align: center;
    background-image: url("../img/info-bg.jpg");
    background-repeat: repeat-x;
    background-position: top;
    padding: 0px;
}
.tab-v1 .nav-tabs {
    width: 100%;
    display: inline-block;
    background-image: url("../img/info-bg.jpg");
    background-repeat: repeat-x;
    background-position: top;
    border-bottom: none;
    margin-bottom: 15px;
    box-shadow: none;
    font-weight: 700;
}
.tab-v1 .tab-pane {
    background: #fff;
    font-size: 15px;
    color: #606060;
    box-shadow: none;
    text-align: left;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-v1 .nav-tabs > li.active > a {
    color: #34343c;
    border: none;
    border-bottom: 3px solid #34343c;
    background-image: url("../img/info-bg.jpg");
    background-repeat: repeat-x;
    background-position: top;
    cursor: pointer;
    font-weight: 900;
    border-radius: 0px !important;
}

.clicked {
    background: green !important;
}

.breadcrumbs-v4 .breadcrumbs-v4-title {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    line-height: 1.1;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 15px;
}
.desno {
    text-align: right;
    z-index: 1;
}
.mapa {
    font-size: 16px !important;
    display: inline;
}
.breadcrumbs-v2 {
    position: relative;
    z-index: 1;
    background-color: #2764a1 !important;
    padding: 125px 0 25px;
    border-bottom: 5px solid #34343c;
}
.accordion-v2 .panel-title > a:after {
    position: absolute;
    top: 8px;
    right: 20px;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #34343c;
    vertical-align: middle;
    padding-left: 10px;
}

.accordion-v2 .panel-body {
    padding: 5px;
}

.accordion-v2 .panel-title > a:focus, .accordion-v2 .panel-title > a:hover {
  color: #337ab7;
}
.accordion-v2 .panel-title > a:after {
    position: absolute;
    top: 8px;
    right: 20px;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #34343c;
    vertical-align: middle;
}

.accordion-v2 .panel-body {
    padding: 5px;
}

.accordion-v2 .panel-title > a:focus, .accordion-v2 .panel-title > a:hover {
  color: #337ab7;
}

.breadcrumbs-v2 .breadcrumbs-v2-title {
    font-size: 32px;
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 15px;
    color: #fff;
    margin: 0;
}


.school-info {
    list-style: none;
    padding-left: 5px;
    display: inline-block;
}

.breadcrumbs-v2 p {
    margin-left: 15px;
    margin-top: -10px;
    font-size: 16px;
    color: #eee;
}

.school-info li {
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #999999;
    color: #eee;
}
.school-info li:last-child {
    border-right: none;
}
.school-info li a {
    color: #eee;
    font-weight: 600;
}
.school-info li a:hover {
    color: #eee !important;
    font-weight: 600;
}

.school-box {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
}
.school-box:hover {
    border: 1px solid #2764a1;
}
.school-box img {
    margin: -15px;
    padding: 5px;
    border-right: 1px solid #eee;
    float:left;
    margin-right: 15px;
}

.school-box h1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
}
.school-box h1 a {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
}
.school-box h1 a:hover {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
    text-decoration: underline;
}
.poeni {
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 5px solid #ebeef6;
    box-shadow: 0 0 0 12px #fff;
    line-height: 40px;

}
.naslov {
    margin-bottom: 2px;
}
.naslov-search {
    font-size: 36px !important;
    color: #000 !important;
    text-align: left;
    z-index: 999;
    position: relative;
}
.mar-30 {
    margin-top: 10px;
}
.sredina {
    margin: 0 auto;
    margin-bottom: 15px;
}
.proizvod-txt {
    font-size: 16px;
    font-weight: 300;
    margin-top: -15px;
}
.list-inline>li {
    padding:0px; 
}
.proizvod-txt-left {
    float: left;
    width: 35%;
}
.proizvod-txt-middle {
    float: left;
    width: 20%;
    text-align: center;
}
.proizvod-txt-right {
    float: right;
    width: 20%;
    text-align: right;
}
.school-box-list {
    padding: 0px;
    list-style: none;
}
.slika {
    width: 100%;
}

.slika-profil {
    padding: 5px;
    border: 1px solid #eee;
    width: 60%;
    height: 60%;
}
.profil h1 {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.profil {
    padding-left: 5px;
}
.font-22 {
    font-size: 22px;
}
.komentar {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    text-align: left;
}

/** School details **/
.school-details-title {
    font-weight: 700;
}
.school-details-graf {
    font-size: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.school-detail-address {
    margin-top: -15px;
    font-size: 16px;
}

.school-details {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin-top: 25px;
}
.school-details li {
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.school-details-icon {
    margin-right: 5px;
    color: #2764a1;
}
.school-details-grupa {
    margin-right: 2px;
    color: #2764a1;
}
.school-details li:last-child {
    border-right: none;
}
.school-details li a {
    color: #eee;
    font-weight: 600;
}
.school-details li a:hover {
    color: #eee !important;
    font-weight: 600;
}
.school-details-map {
    padding: 5px;
    border: 1px solid #eee;
}
.nearby-schools {
    margin-left: -15px;
}
.ocene-info {
    margin-top: -13px !important;
}
.debelo {
    font-weight: 700;
}
.prijatelji-lista {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.prijatelji-box {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 10px;
    margin-left: -10px;
}
.prijatelji-box:hover {
    border-bottom: 1px solid #2764a1;
}
.prijatelji-box img {
    padding: 5px;
    border: 1px solid #eee;
    float: left;
    margin-right: 15px;
    width: 25%;
    margin-bottom: 10px;
}

.prijatelji-box h1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
}
.prijatelji-box h1 a {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
}
.prijatelji-box h1 a:hover {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
    text-decoration: underline;
}
.prijatelji-txt-left {
    float: left;
    width: 55%;
    margin-top: 15px;
}
.center {
    text-align: center;
}
.image-gallery-v2 .image-gallery-v2-overlay {
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(95,154,207,0.7) 32%, rgba(89,148,202,1) 38%, rgba(30,87,153,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(95,154,207,0.7) 32%,rgba(89,148,202,1) 38%,rgba(30,87,153,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(95,154,207,0.7) 32%,rgba(89,148,202,1) 38%,rgba(30,87,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
}
.btn-base-sm.btn-base-animate-to-top, .btn-base-sm.btn-base-animate-to-right {
    padding-right: 60px;
}
/** School details end **/

.testimonials-v3 h2 {
    font-size: 20px;
    font-weight: 700;
    color: #2764a1;
}
.testimonials-v3 h3 {
    font-size: 16px;
    font-weight: 400;
    color: #2764a1;
    text-align: center;
    margin-top: -20px;
}
.testimonials-v3 p {
    margin-top: -10px;
    font-size: 14px;
    font-weight: 700;
}
.testimonials-v3 {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.poredjenje-header {
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #eee;
    color: #000;
    font-size: 22px;
    margin-top: 25px;
    line-height: 45px;
}
.poredjenje-levo {
    text-align: left;
}
.color-dark-light {
    color: #2764a1 !important;
}
.font-size-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.news-v2 {
    padding: 15px;
}
.news-v2 .news-v2-title {
    font-size: 20px;
}
.gray {
    background-image: url("../img/gray.jpg");
    background-repeat: repeat;
}
.razmak-20 {
    margin-top: 10px;
}

.tooMany {
    background: red !important;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff !important;
    border-color: #ddd;
    text-align: left;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 0px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.with-bg-size-admin {
    background-image: url(../img/login.jpg);
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login {
    max-width: 100%;
    vertical-align: middle;
}
.login .content {
    background-color: #fff;
    width: 400px;
    margin: 200px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
}
.login .content .forget-form, .login .content .login-form {
    padding: 0;
    margin: 0;
}
.login .content h3 {
    color: #1371b7;
    text-align: center;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 400!important;
}
.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn, .form-control {
    box-shadow: none!important;
}
.form-control {
    outline: 0!important;
}
.login .content .form-control {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    border-radius: 0;
    font-weight: 700;
}
.login .content .form-control:active, .login .content .form-control:focus {
    border: 1px solid #c3ccda;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn, .form-control {
    box-shadow: none!important;
}
.uppercase {
    text-transform: uppercase!important;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
    outline: 0!important;
}
.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px!important;
}
.login .content .form-actions>.btn {
    margin-top: -2px;
}
.btn:hover {
    cursor: pointer !important;
}
.btn.green {
    width: 100% !important;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #1371b7;
    border-color: #166fb2;
}
.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #0863a6;
    border-color: #166fb2;
}
.login .content .create-account {
    margin: 50px -40px -30px;
    padding: 20px 0 15px;
    text-align: center;
    color: #fff;
    background-color: #6c7a8d;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
.login .content .create-account a {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.login .content .create-account a:hover {
    font-weight: 700;
    color: #fff !important;
    text-decoration: underline;
}

.wide-footer {
    background-color: #D20921;
    height: 100px;
}
.wide-footer {
    border-top: px solid #9F071A;
    border-bottom: 1px solid #9F071A;
}
.wide-footer, section.wide-footer {
    padding-top: 30px;
    padding-bottom: 15px;
}
.fw-page-builder-content > section {
    padding: 0 15px;
    position: relative;
}
.wide-footer {
    font-family: Roboto, sans-serif;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wide-footer-dark {
    background-color: #D20921;
    height: 100px;
}
.wide-footer-dark {
    border-top: 1px solid #9F071A;
    border-bottom: 1px solid #9F071A;
}
.wide-footer-dark, section.wide-footer-dark {
    padding-top: 30px;
    padding-bottom: 15px;
}
.fw-page-builder-content > section {
    padding: 0 15px;
    position: relative;
}
.wide-footer-dark {
    font-family: Roboto, sans-serif;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wide-footer-dark {
    background-color: rgb(178, 8, 29);
}

.wide-footer input[type="submit"], .wide-footer input[type="text"], .wide-footer input[type="email"], .wide-footer input[type="password"], .wide-footer select, .wide-footer .selectize-input, .wide-footer .selectize-dropdown, .wide-footer .selectize-control .selectize-dropdown-content > div[data-selectable] {
    height: 45px;
}
.wide-footer input[type="text"], .wide-footer input[type="email"], .wide-footer input[type="password"], .wide-footer textarea, .wide-footer select, .wide-footer .selectize-input, .wide-footer .selectize-dropdown, .wide-footer .selectize-control .selectize-dropdown-content > div[data-selectable] {
    background-color: #9F071A;
    background: #9F071A;
    color: #ffffff !important;
}
.wide-footer input[type="text"], .wide-footer input[type="email"], .wide-footer input[type="password"], .wide-footer textarea, .wide-footer select, .wide-footer .selectize-input, .wide-footer .selectize-dropdown {
    border: 1px solid #9F071A;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
input.form-control, textarea.form-control {
    -moz-box-shadow: inset 0 8px 18px -12px #ccc, inset 0 -8px 18px -12px #ccc;
    -webkit-box-shadow: inset 0 8px 18px -12px #ccc, inset 0 -8px 18px -12px #ccc;
    box-shadow: inset 0 8px 18px -12px #ccc, inset 0 -8px 18px -12px #ccc;
    background: #dde6e8;
    color: #fff !important;
    border-radius: 0px !important;
    font-weight: 400;
}
.form-control {
    box-shadow: none !important;
    transition: 400ms all ease-in-out;
}
.wide-footer input[type="text"]:focus, .wide-footer input[type="email"]:focus, .wide-footer input[type="password"]:focus, .wide-footer textarea:focus, .wide-footer select, .wide-footer .selectize-control.single .selectize-input.input-active, .wide-footer .selectize-dropdown, .wide-footer .selectize-control .selectize-dropdown-content > div[data-selectable]:hover, .wide-footer .selectize-control .selectize-dropdown-content > div[data-selectable].selected {
    background-color: #281a70;
    background: #7E000F;
    color: #ffffff;
}

::-webkit-input-placeholder {
   color: white !important;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important; 
}

:-ms-input-placeholder {  
   color: white !important;  
}
   
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn, .form-control {
    box-shadow: none!important;
}
.uppercase {
    text-transform: uppercase!important;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn {
    outline: 0!important;
}
.wide-footer .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px!important;
}

.btn:hover {
    cursor: pointer !important;
}
.btn.blue:not(.btn-outline) {
    color: #FFF;
    background-color: #1e125d;
    border-color: #281a70;
    margin-top: 0px;
    margin-left: -12px;
    font-weight: 400 !important;
}
.btn.blue:not(.btn-outline).active, .btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline):hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #281a70;
    border-color: #281a70;
}

.number {
    line-height: 50px;
    font-size: 32px;
    text-align: right;
}

.wide-footer-dark p {
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    color: #eee;
    line-height: 1.4;
    font-style: italic;
}

section#izdvojeni-problemi h1{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    color: #23428d;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
    background-image: url("../img/blue-spacer.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 20px;
}

.izdvojeni-problem-box {
    border: 1px solid #eee;
    width: 90%;
    margin-left: 20px;
    min-height: 350px;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
}
.izdvojeni-problem-box p {
    text-align: center;
    color: #281a70;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    margin-top: -20px;
    font-weight: 400;
}
.izdvojeni-problem-box h1{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    color: #23428d;
    text-align: center;
    text-transform: none !important;
}

.izdvojeni-problem-box:hover {
    background: #281a70;
    color: #fff !important;
}

.izdvojeni-problem-box p:hover {
    color: #fff;
}

.izdvojeni-problem-box img {
    width: 100%;
}

.izdvojeni-problem-datum {
    z-index: 999;
    width: 20%;
    height: 80px;
    background-color: #990314;
    position: absolute;
    top: 34%;
    left: 40%;
    border-bottom:2px solid #9F071A;
    border-radius: 6px;
}
.read-more {
    text-align: center;
    line-height: 25px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #990314;
}
.izdvojeni-problem-datum h2,h3 {
    font-size: 24px;
    color: #fff !important;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
}
.izdvojeni-problem-datum h3 {
    text-transform: uppercase;
    margin-top: -3px;
    font-weight: 400;
    font-size: 18px;
}

.white {
    color: #fff !important;
}

@media (min-width: 992px) {
.header-shrink.header-center-aligned-transparent .navbar {
    background: #fff;
}
.header-center-aligned-transparent .navbar {
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.header-shrink.header-center-aligned-transparent .navbar-logo {
    max-height: 70px;
    line-height: 35px;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header-animate {
    box-shadow: 0 0 15px #e8e8ec;
    margin-top:-10px;
    max-height: 80px;
}
}
@media (max-width: 768px) {
    .dugme {
        position: absolute;
        margin-top: -50%;
        width: 70%;
        left: 13%;
        z-index: 999;
    }
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        width: 89%;
    }
    .btn-dark-bg {
        text-align: left;
        width: 100%;
    }
    .razmak {
        margin-bottom: 10px;
    }
    .btn.blue:not(.btn-outline) {
        width: 70%;
        margin-left: 15% !important;
        margin-bottom: 2%;
    }
    .wide-footer {
        padding-top: 10px !important;
        height: 225px;
    }

    .wide-footer input[type="text"], .wide-footer input[type="email"], .wide-footer input[type="password"], .wide-footer textarea, .wide-footer select, .wide-footer .selectize-input, .wide-footer .selectize-dropdown {
        margin-bottom: 2%;
        width: 70%;
        margin-left: 15%;
    }

    .wide-footer-dark {
        height: 175px;
        text-align: center;
    }

    .number {
        text-align: center;
    }

    .wide-footer-dark p {
        text-align: center;
    }
}


@media (min-width: 992px) {
.header-shrink.header-center-aligned-transparent .navbar-nav .nav-item-child {
    color: #34343c;
    line-height: 70px;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
}