
.black {
    color: #1b1b1b !important;
}
.slika {
    width: 100%;
}



.header-animate {
    background: #fff !important;
}



@media (min-width: 992px) {
    .header-shrink.header-center-aligned-transparent .navbar-nav .nav-item-child {
        color: #34343c;
        line-height: 70px;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
}
