<div class="modal-body">
    <form class="login-form">
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Korisnicko ime" [(ngModel)]="query.username"  name="username"/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Email" [(ngModel)]="query.email"  name="username"/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Ime" [(ngModel)]="query.first_name"  name="username"/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Prezime" [(ngModel)]="query.last_name"  name="username"/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Lozinka" [(ngModel)]="query.password" name="password"/></div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Ponovite lozinku" [(ngModel)]="query.passwordRepeat" name="password"/></div>
        <div class="form-group">
            <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Opstina" [(ngModel)]="query.municipality" name="password"/></div>
        <div class="form-group">
            <select class="form-control form-control-modal form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Tip" [(ngModel)]="query.type" name="password">
                <option value="0">Fizicko lice</option>
                <option value="1">Nevladina organizacija</option>
                <option value="2">Novinari</option>
                <option value="3">Pravno lice</option>
            </select>

        </div>
        <div class="form-group">
            <textarea class="form-control form-control-modal form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Bio" [(ngModel)]="query.about" name="password"></textarea></div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-8 col-md-offset-2">
        <button type="button" (click)="onRegister(query,$event)" data-dismiss="modal" class="btn green uppercase">Create an account</button>
    </div>
</div>

