.header-animate {
    background: #fff !important;
}

.black {
	color: #1b1b1b !important;
}
.slika {
    width: 100%;
}
.board-item {
    border: 1px solid #eee;
    min-height: 250px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 15px;
    overflow: hidden;
}
.board-item img {
    width: 100%;
    height: 100%;
}

.board-item p {
    padding: 15px;
    text-align: center;
    padding-bottom: 0px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 16px;
}

.board-item-desc {
    color: #fff;
    top: 36%;
    left: 30%;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
}

.board-item-desc {
    color: #fff;
    top: 36%;
    left: 30%;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
}



@media (min-width: 992px) {
.header-shrink.header-center-aligned-transparent .navbar-nav .nav-item-child {
    color: #34343c;
    line-height: 70px;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
}
