<!-- WRAPPER -->
<div class="wrapper animaition">
    <!-- Main Image -->
    <img src="img/slider-1.jpg" alt="" data-bgposition="center center" data-kenburns="on"
         data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0"
         data-offsetstart="0 -500" data-offsetend="0 500" data-no-retina class="slika">

    <div class="row wide-footer animated fadeInDown">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-md-offset-1">
                        <button class="btn blue uppercase" data-toggle="modal" data-target="#myModal">Unesi</button>
                    </div>
                    <div class="col-md-4">
                        <input class="newsletter-firstname form-control" type="text" name="nn"
                               placeholder="Unesite Vaš problem">
                    </div>
                    <div class="col-md-4">
                        <input class="newsletter-firstname form-control" type="text" name="nn"
                               placeholder="Unesite Vaše pitanje" [(ngModel)]="searchQuery">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" (click)="gotoSearch()" class="btn blue uppercase">Pretrazi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wide-footer-dark animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <div class="number"> 159</div>
                </div>
                <div class="col-md-5">
                    <div class="wide-text">Uspešno rešenih problema</div>
                    <p> Vaše mišljenje se daleko čuje! </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Izdvojeni problemi -->

    <section id="izdvojeni-problemi" animation-name="fadeIn">
        <div class="container">
            <div class="row">
                <h1> Izdvojeni Problemi </h1>
                <div class="container">
                    <div class="col-md-4" *ngFor="let problem of problemList">
                        <selected-problem [problem]="problem"></selected-problem>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <h1> Odbori u Skupstini </h1>
                    <div class="container">
                        <div class="col-md-3">
                            <div class="board-item animated fadeInDown">
                                <img src="assets/img/problemi/finansije-javna-sredstva.jpg" (click)='gotoSearch(2)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/evropske-integracije.jpg" (click)='gotoSearch(1)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/kultura-i-informisanje.jpg" (click)='gotoSearch(4)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/ljudska-prava.jpg" (click)='gotoSearch(5)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/obrazovanje-nauka.jpg" (click)='gotoSearch(6)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/unutrasnji-poslovi.jpg" (click)='gotoSearch(7)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/saobracaj-telekomunikacije.jpg"
                                     (click)='gotoSearch(12)' class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/pravosudje.jpg" (click)='gotoSearch(10)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/socijalna-pitanja.jpg" (click)='gotoSearch(13)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/trgovina-turizam.jpg" (click)='gotoSearch(11)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/poljoprivreda-sumarstvo.jpg" (click)='gotoSearch(8)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/zastita-zivotne-sredine.jpg" (click)='gotoSearch(15)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/prava-deteta.jpg" (click)='gotoSearch(9)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/bezbednost.jpg" (click)='gotoSearch(3)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/zdravlje.jpg" (click)='gotoSearch(16)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="board-item">
                                <img src="assets/img/problemi/spoljni-poslovi.jpg" (click)='gotoSearch(14)'
                                     class="board-item-img"/>
                                <p>Saznaj Vise</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Izdvojeni problemi -->


</div>
<!-- End Theme Portfolio -->
<!--========== END PAGE CONTENT ==========-->

<!--========== FOOTER V5 ==========-->
<footer class="full-width-container">
    <!-- Copyright -->
    <div class="footer-v5-copyright">
        <div class="content-sm container-sm">
            <div class="center-block">
                <a href="index.html">
                    <img class="footer-v5-copyright-logo margin-b-30" src="img/logo-white.png" alt="">
                </a>
                <!-- Copyright Socials -->
                <ul class="list-inline footer-v5-copright-socials margin-b-30">
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Facebook</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Twitter</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Dribbble</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Instagram</a>
                    </li>
                </ul>
                <!-- End Copyright Socials -->
                <p class="footer-v5-copright-text">Copyright &#169; 2016 Moj Glas. <br/> Sva prava zadržana.</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER V5 ==========-->

<!-- END WRAPPER -->

<!-- Sidebar Content Overlay -->
<div class="sidebar-content-overlay"></div>
<!-- End Sidebar Content Overlay -->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
<!-- End Back To Top -->
<button (click)="getUserInfo()">User info</button>

<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Unesite Vaš Problem</h4>
            </div>

            <div class="modal-body">
                <form class="login-form">
                    <div class="form-group">
                        <input class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text"
                               autocomplete="off"
                               placeholder="Naslov" [(ngModel)]="newProblem.title" name="username"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-modal form-control-solid placeholder-no-fix" type="text"
                               autocomplete="off"
                               placeholder="Detaljni opis" [(ngModel)]="newProblem.description" name="username"></textarea>
                    </div>
                    <div class="form-group" >
                        <select [(ngModel)]="newProblem.topic" name="topic">
                            <option value="1">Evropske integracije</option>
                            <option value="2">Finansije, javna sredstva</option>
                            <option value="3">Bezbednost</option>
                            <option value="4">Kultura i informacije</option>
                            <option value="5">Ljudska i manjinska prava</option>
                            <option value="6">Obrazovanje, nauka i razvoj</option>
                            <option value="7">Unutrasnji poslovi</option>
                            <option value="8">Poljoprivreda, sumarstvo i vodoprivreda</option>
                            <option value="9">Prava deteta</option>
                            <option value="10">Pravosudje, drzavna uprava</option>
                            <option value="11">Trgovina, turizam i energetika</option>
                            <option value="12">Saobracaj, telekomunikacije</option>
                            <option value="13">Socijlana pitanje</option>
                            <option value="14">Spoljni poslovi</option>
                            <option value="15">Zastita zivotne sredine</option>
                            <option value="16">Zdravlje</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-8 col-md-offset-2">
                    <button type="button" (click)="onNewProblem($event)" data-dismiss="modal"
                            class="btn green uppercase">
                        Unesite problem
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

