
.izdvojeni-problem-small-datum h2,h3 {
    font-size: 24px;
    color: #fff !important;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
}
.izdvojeni-problem-small-datum h3 {
    text-transform: uppercase;
    margin-top: -3px;
    font-weight: 400;
    font-size: 18px;
}


@media (max-width: 768px) {
    .sidebar-box {
        margin-left: 0px;
    }
    .izdvojeni-problem-small-box {
        margin-left: 0px;
    }
    .izdvojeni-problem-small-datum {
        top: 42.5% !important;
        left: 74% !important;
    }
}

.izdvojeni-problem-small-box {
    border: 1px solid #eee;
    width: 100%;
    margin-left: 20px;
    min-height: 350px;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
    margin-top: 12px;
}
.izdvojeni-problem-small-box p {
    text-align: left;
    color: #281a70;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    margin-top: -20px;
    font-weight: 400;
}
.izdvojeni-problem-small-box h1 {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 500;
    color: #23428d;
    text-align: left;
    padding-left: 10px;
    text-transform: none !important;
}
.izdvojeni-problem-small-box h2 {
    margin-top: 3px;
}
.izdvojeni-problem-small-box:hover {
    background: #02275d;
    color: #fff !important;
}

.izdvojeni-problem-small-box p:hover {
    color: #fff;
}

.izdvojeni-problem-small-box img {
    width: 100%;
}

.izdvojeni-problem-small-datum {
    z-index: 999;
    width: 20%;
    height: 55px;
    background-color: #D20921;
    position: absolute;
    top: 24.5%;
    left: 80%;
    border-bottom: 2px solid #9F071A;
    /* border-radius: 6px; */
}