/* Problemi *//* Problemi *//* Problemi */
/* Problemi *//* Problemi *//* Problemi */
.izdvojeni-problem-small-box {
    border: 1px solid #eee;
    width: 100%;
    margin-left: 20px;
    min-height: 350px;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
    margin-top: 12px;
}
.izdvojeni-problem-small-box p {
    text-align: left;
    color: #281a70;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    margin-top: -20px;
    font-weight: 400;
}
.izdvojeni-problem-small-box h1 {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 500;
    color: #23428d;
    text-align: left;
    padding-left: 10px;
    text-transform: none !important;
}
.izdvojeni-problem-small-box h2 {
    margin-top: 3px;
}
.izdvojeni-problem-small-box:hover {
    background: #02275d;
    color: #fff !important;
}

.izdvojeni-problem-small-box p:hover {
    color: #fff;
}

.izdvojeni-problem-small-box img {
    width: 100%;
}

.izdvojeni-problem-small-datum {
    z-index: 999;
    width: 20%;
    height: 55px;
    background-color: #D20921;
    position: absolute;
    top: 39.5%;
    left: 74.5%;
    border-bottom: 2px solid #9F071A;
    /* border-radius: 6px; */
}
.read-more {
    text-align: center;
    line-height: 25px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #D20921;
}
.izdvojeni-problem-small-datum h2,h3 {
    font-size: 24px;
    color: #fff !important;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
}
.izdvojeni-problem-small-datum h3 {
    text-transform: uppercase;
    margin-top: -3px;
    font-weight: 400;
    font-size: 18px;
}

.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
    font-weight: 300;
    width: 100%;
}
.mt-checkbox>input, .mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span {
    border: 1px solid #fff;
    background: 0 0;
}

.mt-checkbox:hover>input:not([disabled]):checked~span, .mt-checkbox>input:checked~span, .mt-radio:hover>input:not([disabled]):checked~span, .mt-radio>input:checked~span {
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #fff;
}
.mt-checkbox>span, .mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fff;
}
.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}

.mt-checkbox>span:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.mt-checkbox>span:after, .mt-radio>span:after {
    content: '';
    position: absolute;
    display: none;
}
.margin-0 {
    margin-left: 0px;
}

/* Problemi *//* Problemi *//* Problemi */
/* Problemi *//* Problemi *//* Problemi */

.search-header {
	background-image: url('../../assets/img/bg-pattern.png');
	width: 100%;
}
.search-header h1 {
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	margin-top: 25%;
}
.search-header h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	margin-top: 0px;
}
.wide-footer-profile {
    font-family: Roboto, sans-serif;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wide-footer-profile {
    background-color: #D20921;
    height: 65px;
}
.wide-footer-profile {
    border-top: px solid #9F071A;
    border-bottom: 1px solid #9F071A;
}
.wide-footer-profile, section.wide-footer-profile {
    padding-top: 30px;
    padding-bottom: 15px;
}


/* Problemi *//* Problemi *//* Problemi */
.tab-v1 .nav-tabs {
    width: 100%;
    display: inline-block;
    background-image: url(../img/info-bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    border-bottom: none;
    margin-bottom: 15px;
    box-shadow: none;
    font-weight: 700;
}
.tab-v1 .nav-tabs {
    width: 100%;
    display: inline-block;
    background: #fff;
    border-bottom: none;
    box-shadow: 1px 2px 7px 0 #eff1f8;
    margin-bottom: 15px;
}
.tab-v1 .nav-tabs > li:first-child {
    margin-left: 0;
}
.tab-v1 .nav-tabs > li {
    margin: 0;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
em, li, li a {
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    color: #34343c;
}
.nav-tabs {
    border-bottom: none;
    margin-top: -8px;
    margin-left: 15px;
}
.nav-tabs li a {
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #9F071A !important;
    border-radius: 0px;
}
.tab-content>.tab-pane {
    padding-top: 25px;
    color: #34343c;
    padding-bottom: 25px;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    border-radius: 0px;
    cursor: pointer;
}

.profil-slika {
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
}

#profil h1 {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #34343c;
    line-height: 1.4;
    margin: 0 0 15px;
    font-size: 30px;
}
#profil h2 {
    color: #606060;
    font-size: 22px;
    margin-top: -16px;
    font-weight: 300;
}
#profil h3 {
    color: #D20921 !important;
    font-size: 20px;
    /* margin-top: -16px; */
    font-weight: 300;
    text-align: left;
    font-weight: 400;
}
#profil ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.fa {
    padding-right: 5px;
}
p.biografija {
    color: #34343c;
    font-size: 18px;
    text-align: justify;
}

.sidebar-box {
    width: 100%;
    background-color: #02275d;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 6%;
    display: block;
}
.sidebar-box h1 {
    margin:0px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}
footer {
    display: inline-block;
    width: 100%;
}
.height-25 {
    height: 125px;
}
ul.problem-details {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 25px;
}
.problem-details li {
    float: left;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-right: 5px;
}

.problem-details li:last-child {
    padding-left: 5px;
    border-right: 0px;
}
.italic {
    font-style: italic;
}
/* Problemi *//* Problemi *//* Problemi */
#profil h1 {
    line-height: 1.1;
    margin-bottom: 15px;
    font-size: 28px;
    margin-bottom: 15px !important;
}
#profil h2 {
    color: #606060;
    font-size: 22px;
    margin-top: -8px;
    font-weight: 300;
    font-size: 18px;
    font-weight: 400;
}
.voteUp {
    z-index: 999;
    width: 20%;
    height: 70px;
    background-color: #D20921;
    /* position: absolute; */
    /* top: 39.5%; */
    /* left: 74.5%; */
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #9F071A;
    text-align: center;
    padding-top: 30px;
}
.voteUp:hover {
    cursor: pointer;
}
.voteUp h2 {
    margin-left: 5px;
}
.voteUp p {
    color: #fff !important;
    text-align: center !important;
    margin-top: -10px !important;
}
.blue {
    background-color: #02275d;
    border-bottom: 2px solid #011f49 !important;
}
.white {
    color: #fff;
}
.subscribe {
    margin-bottom: 10px;
}
.search-header h1{
    margin-top: 13%;
}
.search-header {
    min-height: 225px !important;
}



#profil a {
    color: #D20921;
    font-weight: 400;
}
.crvena {
    color: #D20921;
    font-weight: 400;
}
#profil a:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar-box {
        margin-left: 0px;
    }
    .izdvojeni-problem-small-box {
   		margin-left: 0px;
	}
	.izdvojeni-problem-small-datum {
	    top: 42.5% !important;
	    left: 74% !important;
	}
}



