<!-- WRAPPER -->
<div class="wrapper animaition">
    <!-- Search Header -->
    <div class="search-header">
	    <div class="row">
	    	<div class="container">
	    		<div class="col-md-6">
	    			<h1> {{user.name}}</h1>
	    			<h2> Poslanička grupa: {{user.party}}</h2>
	    		</div>
	    	</div>
	    </div>
    </div>

    <div class="row wide-footer-profile animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">Lični Podaci</a></li>
                    <li role="presentation"><a href="#biografija" aria-controls="biografija" role="tab" data-toggle="tab">Biografija</a></li>
                    <li role="presentation"><a href="#ucesce" aria-controls="ucesce" role="tab" data-toggle="tab">Učešće</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Profile information -->
                    <div role="tabpanel" class="tab-pane fade in active" id="about">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../../assets/img/profil.jpg" class="profil-slika" />
                                </div>

                                <div class="col-md-5">
                                    <div id="profil">
                                        <h1>{{user.name}} </h1>
                                        <h2> {{user.party}} </h2>
                                        <hr />
                                        <h3> Poslanik je član sledećih odbora: </h3>
                                        <ul>
                                            <li> <i class="fa fa-bookmark" aria-hidden="true"></i> Bezbednost </li>
                                            <li> <i class="fa fa-bookmark" aria-hidden="true"></i>  Finansije </li>
                                            <li> <i class="fa fa-bookmark" aria-hidden="true"></i>  Obrazovanje </li>
                                            <li> <i class="fa fa-bookmark" aria-hidden="true"></i>  Zdravlje </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                <div class="sidebar-box margin-top-10">   
                                    <h1> Kontaktirajte poslanika </h1>

                                    <hr />

                                    <div class="form-group">
                                        <input class="form-control form-control-solid placeholder-no-fix subscribe" type="text" autocomplete="off" placeholder="Ime i prezime" [(ngModel)]="username" name="username"/>
                                        <input class="form-control form-control-solid placeholder-no-fix subscribe" type="text" autocomplete="off" placeholder="Email" [(ngModel)]="username" name="username"/>

                                        <input class="height-25 form-control form-control-solid placeholder-no-fix subscribe" type="text" autocomplete="off" placeholder="Poruka" [(ngModel)]="username" name="username"/>
                                        
                                        <button (click)="onLoginClicked($event)" class="btn green uppercase">Pošalji</button>

                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Profile information -->

                    <!-- Biografija -->
                    <div role="tabpanel" class="tab-pane fade in" id="biografija">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1> Biografija poslanika </h1>
                                    <hr />

                                    <p class="biografija">
                                        {{user.bio}}
                                      </p>
                                </div>
                            </div>

                            <div class="col-md-4">

                            </div>
                        </div>    
                    </div>
                    <!-- Biografija -->

                    <div role="tabpanel" class="tab-pane fade in" id="ucesce">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1> Poslanik je učestvovao u rešavanju sledećih problema: </h1>
                                    <hr />

                                    <!-- Lista problema -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="izdvojeni-problem-small-box margin-0 animated fadeInDown" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                                                <img src="assets/img/vest1.jpg" />
                                                <div class="izdvojeni-problem-small-datum">
                                                    <h2> <i class="fa fa-plus" aria-hidden="true"></i> </h2>
                                                    <h3> 1255 </h3>
                                                </div>
                                                <h1 [ngClass]="{'white': hover}"> Lorem  Ipsum </h1>
                                                <p [ngClass]="{'white': hover}"> Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                                <hr />
                                                <div class="read-more" [ngClass]="{'white': hover}">Read More</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="izdvojeni-problem-small-box margin-0 animated fadeInDown" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                                                <img src="assets/img/vest1.jpg" />
                                                <div class="izdvojeni-problem-small-datum">
                                                    <h2> <i class="fa fa-plus" aria-hidden="true"></i> </h2>
                                                    <h3> 1255 </h3>
                                                </div>
                                                <h1 [ngClass]="{'white': hover}"> Lorem  Ipsum </h1>
                                                <p [ngClass]="{'white': hover}"> Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                                <hr />
                                                <div class="read-more" [ngClass]="{'white': hover}">Read More</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="izdvojeni-problem-small-box margin-0 animated fadeInDown" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                                                <img src="assets/img/vest1.jpg" />
                                                <div class="izdvojeni-problem-small-datum">
                                                    <h2> <i class="fa fa-plus" aria-hidden="true"></i> </h2>
                                                    <h3> 1255 </h3>
                                                </div>
                                                <h1 [ngClass]="{'white': hover}"> Lorem  Ipsum </h1>
                                                <p [ngClass]="{'white': hover}"> Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                                <hr />
                                                <div class="read-more" [ngClass]="{'white': hover}">Read More</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Lista problema -->
                                </div>
                            </div>   
                            <!-- Row end --> 
                        </div>    
                    </div>
                    <!-- Biografija end -->
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>
    


<!-- End Theme Portfolio -->
<!--========== END PAGE CONTENT ==========-->

<!--========== FOOTER V5 ==========-->
<footer class="full-width-container">
    <!-- Copyright -->
    <div class="footer-v5-copyright">
        <div class="content-sm container-sm">
            <div class="center-block">
                <a href="index.html">
                    <img class="footer-v5-copyright-logo margin-b-30" src="img/logo-white.png" alt="">
                </a>
                <!-- Copyright Socials -->
                <ul class="list-inline footer-v5-copright-socials margin-b-30">
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Facebook</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Twitter</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Dribbble</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Instagram</a>
                    </li>
                </ul>
                <!-- End Copyright Socials -->
                <p class="footer-v5-copright-text">Copyright &#169; 2016 Moj Glas. <br/> Sva prava zadržana.</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER V5 ==========-->

<!-- END WRAPPER -->

<!-- Sidebar Content Overlay -->
<div class="sidebar-content-overlay"></div>
<!-- End Sidebar Content Overlay -->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
<!-- End Back To Top -->