<div class="login">
    <div class="with-bg-size-admin" style="position:fixed; top:0px; left:0px; z-index:-999; width:100%;
        overflow-y:hidden; overflow-x:hidden; margin:auto;">
    </div>

    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <img src="../../img/logo.png" width='300' height='50' class="logo-login" />
        <form class="login-form">
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="Username" [(ngModel)]="username" name="username"/>
            </div>
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                       placeholder="Password" [(ngModel)]="password" name="password"/></div>
            <div class="form-actions">
                <button (click)="onLoginClicked($event)" class="btn green uppercase">Sign In</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <div class="create-account">
            <p>
                <button data-toggle="modal" class="button-no-style" data-target="#myModal">Create an account</button>
            </p>
        </div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <register-form></register-form>
            </div>

        </div>
    </div>
</div>
