.button-no-style {
    background: transparent;
    border: 0;
}
.modal-content {
	border-radius: 0px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    color: #23428d;
    text-align: center;
    text-transform: uppercase;
}
input.form-control.form-control-modal.form-control-solid.placeholder-no-fix  {
    height: 40px;
}
img.logo-login {
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}