<div class="izdvojeni-problem-box" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img src="assets/img/vest1.jpg"/>
    <div (click)="voteUp()" class="izdvojeni-problem-datum">
        <h2><i class="fa fa-thumbs-up" aria-hidden="true"></i></h2>
        <h3> {{problem.votes_up}} </h3>
    </div>

    <h1 [ngClass]="{'white': hover}"> {{problem.title}} </h1>
    <p [ngClass]="{'white': hover}">{{problem.description}}</p>
    <hr/>
    <div (click)="onSelectedClicked()"  class="read-more" [ngClass]="{'white': hover}">Read More</div>
</div>