.search-header {
	background-image: url('../../assets/img/bg-pattern.png');
	height: 225px;
	width: 100%;
}
.search-header h1 {
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	margin-top: 25%;
}
.search-header h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	margin-top: 0px;
}
.sidebar-box {
	width: 100%;
	background-color: #02275d;
	padding: 15px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 6%;
	display: block;
}
.sidebar-box h1 {
	margin:0px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}
span.desno {
	float: right;
	margin-top: 2px;
}

.read-more {
    text-align: center;
    line-height: 25px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #D20921;
}
.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
    font-weight: 300;
    width: 100%;
}
.mt-checkbox>input, .mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span {
    border: 1px solid #fff;
    background: 0 0;
}

.mt-checkbox:hover>input:not([disabled]):checked~span, .mt-checkbox>input:checked~span, .mt-radio:hover>input:not([disabled]):checked~span, .mt-radio>input:checked~span {
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #fff;
}
.mt-checkbox>span, .mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fff;
}
.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}

.mt-checkbox>span:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.mt-checkbox>span:after, .mt-radio>span:after {
    content: '';
    position: absolute;
    display: none;
}

/* Problemi *//* Problemi *//* Problemi */
/* Problemi *//* Problemi *//* Problemi */

.subscribe {
    margin-bottom: 10px;
}
