<!-- WRAPPER -->
<div class="wrapper animaition">
    <!-- Search Header -->
    <div class="search-header">
        <div class="row">
            <div class="container">
                <div class="col-md-6">
                    <h1> Rezultati pretrage </h1>
                    <h2> Ukupno pronadjeno {{searchResults.length}} problema </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row wide-footer animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>

            </div>
        </div>
    </div>

    <div class="animated fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar-box">
                        <h1> Filtriraj pretragu
                            <span class="desno"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        </h1>

                        <hr/>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["16"]'  (change)='filterBy("16")'> Zdravlje
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["3"]'  (change)='filterBy("3")'> Bezbednost
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["9"]' (change)='filterBy("9")'> Prava deteta
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["14"]' (change)='filterBy("14")'> Spoljni poslovi
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["1"]' (change)='filterBy("1")'> Evropske integracije
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["4"]' (change)='filterBy("4")'> Kultura i informisanje
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["13"]' (change)='filterBy("13")'> Rad i socijalna pitanja
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["15"]' (change)='filterBy("15")'> Zaštita životne sredine
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["5"]' (change)='filterBy("5")'> Ljudska i manjinska prava
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["7"]'  (change)='filterBy("7")'> Odbrana i unutrašnji poslovi
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["12"]'  (change)='filterBy("12")'> Prostorno planiranje, saobraćaj i
                            telekomunikacije
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["11"]' (change)='filterBy("11")'> Regionalni razvoj, trgovina, turizam i
                            energetika
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["10"]'  (change)='filterBy("10")'> Pravosuđe, državna uprava i lokalna
                            samouprava
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["8"]' (change)='filterBy("8")'> Poljoprivreda, šumarstvo i vodoprivreda
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["6"]' (change)='filterBy("6")'> Obrazovanje, nauka, tehnološki razvoj
                            <span></span>
                        </label>

                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]='filterQuery["2"]' (change)='filterBy("2")'> Finansije, javna sredstva
                            <span></span>
                        </label>

                    </div>
                    <!--Sidebar box end-->

                    <div class="sidebar-box">
                        <h1> Pretplati se na novosti
                            <span class="desno"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        </h1>

                        <hr/>

                        <div class="form-group">
                            <input class="form-control form-control-solid placeholder-no-fix subscribe" type="text"
                                   autocomplete="off" placeholder="Ime i prezime" [(ngModel)]="username"
                                   name="username"/>
                            <input class="form-control form-control-solid placeholder-no-fix subscribe" type="text"
                                   autocomplete="off" placeholder="Email" [(ngModel)]="username" name="username"/>

                            <button (change)="onLoginClicked($event)" class="btn green uppercase">Sign In</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let problem of searchResults">
                            <search-problem [problem]="problem"></search-problem>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- End Theme Portfolio -->
<!--========== END PAGE CONTENT ==========-->

<!--========== FOOTER V5 ==========-->
<footer class="full-width-container">
    <!-- Copyright -->
    <div class="footer-v5-copyright">
        <div class="content-sm container-sm">
            <div class="center-block">
                <a href="index.html">
                    <img class="footer-v5-copyright-logo margin-b-30" src="img/logo-white.png" alt="">
                </a>
                <!-- Copyright Socials -->
                <ul class="list-inline footer-v5-copright-socials margin-b-30">
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Facebook</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Twitter</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Dribbble</a>
                    </li>
                    <li class="footer-v5-copright-socials-item"><a class="footer-v5-copright-socials-link" href="#">Instagram</a>
                    </li>
                </ul>
                <!-- End Copyright Socials -->
                <p class="footer-v5-copright-text">Copyright &#169; 2016 Moj Glas. <br/> Sva prava zadržana.</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER V5 ==========-->

<!-- END WRAPPER -->

<!-- Sidebar Content Overlay -->
<div class="sidebar-content-overlay"></div>
<!-- End Sidebar Content Overlay -->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
<!-- End Back To Top -->