<div (click)="onProblemClicked()" class="panel panel-default" style="height: 100px;">
    <div class="col-md-3">
        <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14591781_10209772059290707_8956835436028057132_n.jpg?oh=6535789ac2dd4ab968f079b377cc4591&oe=58D2BC49"
            height="100px" width="100px"
        />
    </div>
    <div class="col-md-6">
        <span>{{item.title}}</span>
    </div>
    <div class="col-md-3">
        <span>{{item.votesUp}}</span>
    </div>
</div>